* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(0, 0%, 95%);
  main {
    min-height: 100dvh;
    
    @media (min-width: 900px) {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100dvh;
      max-width: 1500px;
      margin: 0 auto;
    }
    
    article {
      margin: 1rem;
      @media (min-width: 900px) {
        display: flex;
        flex-direction: row;
        height: fit-content;
      }
      section {
        padding: 50px;
        background-color: var(--color, blue);
        position: relative;

        &:first-child {
          border-radius: 1rem 1rem 0 0;
          @media (min-width: 900px) {
            border-radius: 1rem 0 0 1rem;
          }
        }

        &:last-child {
          border-radius: 0 0 1rem 1rem;
          @media (min-width: 900px) {
            border-radius: 0 1rem 1rem 0;
          }
        }

        &::before {
          content: "";
          position: absolute;
          top: 50px;
          left: 50px;
          width: 60px;
          height: 60px;
          background-image: var(--url);
          background-size: cover;
          background-repeat: no-repeat;
          z-index: 100;
        }

        h1 {
          color: hsl(0, 0%, 95%);
          font-size: 2.5rem;
          margin: 4rem 0 20px 0;
        }

        p {
          font-size: 15px;
          line-height: 30px;
          color: hsla(0, 0%, 100%, 0.75);
          text-wrap: balance;
        }

        button {
          background-color: hsl(0, 0%, 95%);
          border: transparent 2px solid;
          font-size: 15px;
          width: fit-content;
          padding: 5px 10px;
          height: 40px;
          border-radius: 2rem;
          cursor: pointer;
          font-weight: bold;
          color: var(--color, blue);
          transition: 500ms ease-in-out;

          &:hover {
            border: hsl(0, 0%, 95%) 2px solid;
            background-color: transparent;
            color: hsl(0, 0%, 95%);
          }
        }
      }
    }
  }
}
